.main-block {
  display: flex;
  justify-content: center;
  .info {
    width: 600px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-control {
    margin-bottom: 15px;
  }
}

.error {
  color: red;
}
