<div class="main-block">
  <form class="info" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <span
      style="margin-bottom: 20px; font-size: 22px; font-weight: 600"
      class="info__header"
      >Регистрация</span
    >
    <input
      formControlName="email"
      type="text"
      placeholder="email"
      class="form-control"
    />
    <input
      formControlName="password"
      type="password"
      placeholder="password"
      class="form-control"
      style="margin-bottom: 20px"
    />
    <button
      [disabled]="!registerForm.valid"
      type="submit"
      class="btn btn-outline-primary"
    >
      Зарегестрироваться
    </button>
    <span style="margin-top: 20px" class="error" *ngIf="errorMsg">
      {{ errorMsg }}
    </span>
  </form>
</div>
